extend layout

block content
 h3.display-4(class='text-center') Report
 p(class='text-center') This is Report page
 style.
    table, th, td {
    border: 1px solid black;
    padding: 3px;
    }
    table {
    border-spacing: 10px;
    }
 table(style='width:100%')
   thead
    tr
      th to
      th cc
      th bcc
      th subject
      th date
      th message
      th id
    tbody
      each maildata, i in maildatas
       tr
         td= maildata.tomail
         td= maildata.cc
         td= maildata.bcc
         td= maildata.tsubject
         td= maildata.date
         td= maildata.message
         td= maildata._id